<!DOCTYPE html>
<html>
    <head>
        <!-- {{ url_for('static', filename='homestyle.css') }} -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homestyle.css') }}>
       
    </head>
    <body>
       
        <div class="home">
            <div class="home-title" style="width:100%">
                SALARY PREDICTION FOR M.TECH/M.SC/MCA/B.TECH/B.E./BCA FRESHERS
            </div>
            
            <div class="salary-image">
                <img src="{{ url_for('static', filename='raju3idiots.jpg') }}" class="salary-img">
                <span class="tooltiptext">SALARY KITNI LONGE BHAIYYA?? DISCUSS KARLE..</span>
            </div>
           

            <div class="Next-button">
                <form  method="post">
                    <div class="submit-button">
                    <input class="submit-btn" type="submit" value="CLICK HERE TO PROVIDE YOUR DETAILS" required />
                    </div>
            </div>
        
        </div>
        </form>
    </body>
</html>